@mixin backgroundImage {
    content: ' ';
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6b6b6b;
    will-change: transform;
    z-index: -1;
}

.choise {
    position: relative;

    &::before {
        @include backgroundImage;
        background: linear-gradient(to right, #00d2ff, #928dab);
    }

    &-text {
        font-size: 22px;
        line-height: 1.2;
        padding-top: 10px;

        @media all and (max-width: 500px) {
            flex-direction: row !important;
        }
        
        & a {
            margin-bottom: 0.3em;

            &.active {
                font-size: 1.3em;
                font-weight: bold;
                text-decoration: underline;
                color: #a71d2a !important;
            }
        }
    }
}

.list {
    position: relative;
    
    &-districts {
        &::before {
            @include backgroundImage;
            background: url(../assets/images/FarEast.jpg) no-repeat center center;
            background-size: cover;
        }
    }

    &-branches {
        &::before {
            @include backgroundImage;
            background: url(../assets/images/Branch.jpg) no-repeat center center;
            background-size: cover;
        }

        & .list-title {
            color: black;
        }

        & .list-links div{
            justify-content: space-evenly;

            & a::first-line {
                color: #044fa0;
            }
        }
    } // .list-branches

    &-title {
        color: rgb(236, 34, 34);
        padding: 20px 0px;
        text-align: center;

        @media all and (max-width: 500px) {
            font-size: 1.5em;
        }
    }

    &-links {
        & div a {
            color: #007bff;
        }

        & > div:first-child {
            @media all and (max-width: 500px) {
                flex-direction: column;
                align-content: center;
                font-size: 1.2em;
            }

            & a {
                color: blue;
                padding-right: 5px;
                transition: all 0.3s ease;
        
                &:hover {
                    color: #044fa0;
                }

                @media all and (max-width: 500px) {
                    padding-right: 0;
                }
            } 
        }
    } // .list-links
} // .list

.result {
    max-width: 880px;
    margin: 30px auto;
    padding: 40px 20px 40px 40px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.15);

    @media all and (max-width: 500px) {
        padding: 40px 10px 40px 15px;
    }

    &-wrapper {
        max-height: 770px;
        overflow-x: hidden;
        overflow-y: auto;
    
        &::-webkit-scrollbar { 
            width: 8px;
        }
    
        &::-webkit-scrollbar-track-piece { 
            background: #E7E7E7;
            border-radius: 23px;
        }
    
        &::-webkit-scrollbar-thumb { 
            background-color: #1157A7;
            height: 10px;
            border-radius: 23px;
        }

        @media all and (max-width: 500px) {
            & h2 {
                font-size: 1.4em;
            }

            & h3 {
                font-size: 1.2em;
            }
        }
    }

    &-item {
        &:after {
            content: '';
            display: block;
            width: 100%;
            max-width: 800px;
            height: 1px;
            background: rgba(135, 135, 135, 0.2);
            border-radius: 8px;
            margin: 20px 0px;
        }

        & a {
            vertical-align: baseline;
            cursor: pointer;
            font-size: 19px;
            transition: all 0.4s ease;
    
            &:hover {
                color: #1157A7;
            }

            @media all and (max-width: 500px) {
                font-size: 1em;
            }
        } 
    } // .districts-item
} // .districts
